<div class="properties-card">
  <div>
    <%= property.public_id %>
  </div>

  <div>
    <%= property.title %>
  </div>

  <div class="properties-image">
    <% if property.title_image_thumb%>
      <%= image_tag property.title_image_thumb%>
    <% else %>
      <%= image_tag("default.jpg", width: 200)%>
    <% end %>
  </div>

  <div>
    <%= property.property_type%>
  </div>

  <div>
    <%= property.location%>
  </div>

  <%= link_to '', property_path(property.public_id), class: "properties-link" %>
</div>
