<div class="property-card">
  <%= @property.public_id%>
  </br>
  <%= @property.title %>
  </br>
  <%= @property.description%>
  </br>
  <% @property.property_images.each do |image| %>
    <%= image_tag image.url %>
  <% end %>
  </br>
  <%= @property.property_type%>
  </br>
  <%= @property.location.name %>
  </br>
  <%= form_with url: create_contact_property_path do |form| %>
    <%= form.label :name, class: "label"%>
    <%= form.text_field :name, placeholder: "Something", class: "input", :required => true %>
    <%= form.label :phone, class: "label"%>
    <%= form.text_field :phone, placeholder: "Something", class: "input", :required => true %>
    <%= form.label :email, class: "label"%>
    <%= form.email_field :email, placeholder: "Something", class: "input", :required => true %>
    <%= form.label :message, class: "label"%>
    <%= form.text_area :message, placeholder: "Something", class: "input", :required => true %>
    <%= form.label :source, class: "label"%>
    <%= form.text_field :source, placeholder: "Something", class: "input", :required => true %>

    <%= form.submit class: "submit" %>
  <% end %>
</div>
</br></br>
